@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;

  --color-neutral-900: #051513;
  --color-neutral-800: #4c5c59;
  --color-neutral-500: #899492;
  --color-neutral-400: #c0cfcc;
  --color-neutral-300: #dde9e7;
  --color-neutral-100: #e8f0ef;
  --color-teal-700: #014745;
  --color-teal-800: #013c3b;
  --color-red-600: #fd4740;
  --color-red-800: #cb0a04;
}

@layer utilities {
  .btn-primary {
    @apply inline-block bg-teal-700 text-white text-center transition-all ease-in-out duration-300 text-base leading-[140%] font-manrope font-semibold hover:bg-teal-800 focus:outline-2 focus:outline-offset-3 focus:outline-teal-700 w-full py-4 rounded-md shadow-sm cursor-pointer;
  }
}
